@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Short+Stack&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: quicksand, sans-serif;
    color: #3a3a3a;
}

/* header styling */

#logo {
    margin-left: 3%;
    float: left;
    width: 40%;
}

#logo-text {
    font-family: short stack, cursive;
    color: #b2f19a;
    font-size: 300%;
    line-height: 100px;
}

#logo-image {
    float: left;
    height: 100px;
    width: 100px;
}

#header {
    height: 100px;
    letter-spacing: 4px;
    line-height: 100px;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#header-menu {
    float: right;
    margin-right: 2%;
}

#header-menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#header-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* main body styling */

#intro, #quiz {
    width: 80%;
    padding: 3%;
    margin: auto;
    background-color: #dbf5d1;
    text-align: justify;
    line-height: 200%;
}

#quiz {
    margin-top: 2%;
    margin-bottom: 2%;
}

.section-headings {
    width: 70%;
    margin: auto;
    text-align: justify;
    line-height: 200%;
    padding-top: 3%;
}

.lists {
    width: 60%;
    margin: auto;
    text-align: justify;
    line-height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.list-image-1 {
    padding-right: 5%;
}

.list-image-2 {
    padding-left: 5%;
}

.list-image-1 img {
    height: 250px;
}   

.list-image-2 img {
    height: 250px;
}  

#spacing {
    height: 30px;
}

#quiz-button a {
    text-decoration: none;
    color: #3a3a3a;
}

#quiz-text {
    font-family: short stack, cursive;
    font-size: 300%;
    line-height: 70px;
    text-decoration: none;
    border: 2px solid;
    border-color: #3a3a3a;
    border-radius: 25px;
    background: #f8dedd;
    padding: 20px;
    width: 300px;
    height: 70px;
    box-shadow: 10px 10px 5px grey;
}

#quiz-button {
width: 350px;
margin: auto;
padding-bottom: 3%;
}

/* contact styling */

#form-container {
    display: flex;
    align-items: center;
    width: 800px;
    margin: auto;
    padding-top: 5%;
    padding-bottom: 5%;
}

#tel {
text-align: center;
width: 200px;
}

#address {
    text-align: center;
width: 200px;
}

#email-2 {
    text-align: center;
width: 200px;
}

.contact-image {
    height: 100px;
    width: 100px;
}

.gap {
    width: 300px;
}

/* footer styling */

#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 150px;  
  }

#footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 150px;  
    background-color: #fcf3f3; 
}

#footer li {
    list-style-type: none;
    padding: 5px;
}

#footer a:hover {
    color: #91918d;
}

#footer a {
    text-decoration: none;
    color: #3a3a3a;
}

.leftside {
        width: 60%;
        margin: auto;
        text-align: justify;
        line-height: 200%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 120%;
    }

.rightside {
    width: 60%;
    margin: auto;
    line-height: 200%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#copyright {
    text-align: center;
    left: 12%;
    margin-top: 40px;
    padding-bottom: 10px;
}

#mail-list {
    color: #3a3a3a;
    border: .5px solid;
    border-color: #3a3a3a;
    padding: 5px;
    margin-top: 5px;
}

#email {
    text-align: center;
    background-color: #fcf3f3;
}

#submit {
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    background-color: #fcf3f3 ;
}

#submit:hover {
    color: #91918d;
}



