@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Short+Stack&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: quicksand, sans-serif;
    color: #3a3a3a;
}

/* header styling */

#logo {
    margin-left: 3%;
}

#logo-text {
    font-family: short stack, cursive;
}

#logo-image {
    float: left;
    height: 100px;
    width: 100px;
}

#header a {
    text-decoration: none;
    color: inherit;
}

#header-menu {
    float: right;
    margin-right: 3%;
}

#header-menu li {
    float: left;
    list-style-type: none;
}

#header-menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* introduction styling */

